@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght=0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./section/navbar.css");
@import url("./section/sidebar.css");
@import url("./section/hero.css");
@import url("./section/menuPricing.css");
@import url("./section/about.css");
@import url("./section/team.css");
@import url("./section/footer.css");

/* Global Smooth Reset */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.creamy {
  background-color: #f4f4f0;
}

/* Set standard top buffer context for fixed-navbar targets */
section {
  scroll-margin-top: 70px;
}
